.config-project{
      max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.log-font{
  font-family: "geistMonoFont", ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;;
  
}